<?xml version="1.0"?>
<config>
    <modules>
        <Userengage_Userengage>
        <version>1.0.0</version>
        </Userengage_Userengage>
    </modules>
    <global>
        <blocks>
            <userengage>
                <class>Userengage_Userengage_Block</class>
            </userengage>
        </blocks>
        <helpers>
            <userengage>
                <class>Userengage_Userengage_Helper</class>
            </userengage>
        </helpers>
        <models>
            <userengage>
                <class>Userengage_Userengage_Model</class>
            </userengage>
        </models>
    </global>
    <frontend>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <userengage>
                        <class>Userengage_Userengage_Model_CheckObserve</class>
                        <method>customerRegistered</method>                        
                    </userengage>
                </observers>
            </checkout_submit_all_after>
            <customer_register_success>
                <observers>
                    <userengage>
                        <type>singleton</type>
                        <class>Userengage_Userengage_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </userengage>
                </observers>
            </customer_register_success>
            <checkout_cart_save_after> 
                <observers>
                    <userengage>
                        <type>singleton</type>
                        <class>Userengage_Userengage_Model_UpdateObserver</class>
                        <method>updateCartAfter</method>
                    </userengage>
                </observers>
            </checkout_cart_save_after>   
            <sales_order_place_after>
                <observers>
                    <userengage>
                        <type>singleton</type>
                        <class>Userengage_Userengage_Model_OrderObserver</class>
                        <method>OrderAfter</method>
                    </userengage>
                </observers>
            </sales_order_place_after>
        </events>
        <routers>
            <userengage>
                <use>standard</use>
                <args>
                    <module>Userengage_Userengage</module>
                    <frontName>userengage</frontName>
                </args>
            </userengage>
        </routers>
        <layout>
            <updates>
                <userengage>
                    <file>userengage.xml</file>
                </userengage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <userengage>
                <use>admin</use>
                <args>
                    <module>Userengage_Userengage</module>
                    <frontName>userengage</frontName>
                </args>
            </userengage>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <userengage module="userengage">
                <title>UserEngage</title>
                <sort_order>75</sort_order>
                <action>userengage/adminhtml_userengage</action>
            </userengage>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Userengage_Userengage>
                            <title>UserEngage</title>
                            <sort_order>10</sort_order>
                        </Userengage_Userengage>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <userengage>
                                            <title>UserEngage Section</title>
                                        </userengage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <userengage>
                    <file>userengage.xml</file>
                </userengage>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <userengage>
            <general>
                <license></license>
            </general>
            <advanced>
                <group>0</group>
                <params></params>
            </advanced>
        </userengage>
    </default>
</config>
